{% extends 'radmin::layouts/tabular' %}

{% block meta_title %}
  {{ title }}
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block tabs_content %}
<div class="ui tab active" data-tab="tab-edit">
  {{ form(form)|raw }}
</div>
{% endblock %}
