<meta charset="UTF-8" />
<title>{% block meta_title title|default('') %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% for style in styles %}
<link rel="stylesheet" href="{{ style }}" type="text/css" media="screen" />
{% endfor %}
